<%-include('../user/layout/user-header-layout.ejs') %>
<!--===============================================================================================-->	
<!-- <link rel="stylesheet" type="image/png" href="/user/product details/images/icons/favicon.png"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/user/product details/vendor/bootstrap/css/bootstrap.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/user/product details/fonts/font-awesome-4.7.0/css/font-awesome.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/user/product details/fonts/iconic/css/material-design-iconic-font.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/user/product details/fonts/linearicons-v1.0.0/icon-font.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/user/product details/vendor/animate/animate.css"> -->
<!--===============================================================================================-->	
	<!-- <link rel="stylesheet" type="text/css" href="/user/product details/vendor/css-hamburgers/hamburgers.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/user/product details/vendor/animsition/css/animsition.min.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/user/product details/vendor/select2/select2.min.css"> -->
<!--===============================================================================================-->	
	<!-- <link rel="stylesheet" type="text/css" href="/user/product details/vendor/daterangepicker/daterangepicker.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/user/product details/vendor/slick/slick.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/user/product details/vendor/MagnificPopup/magnific-popup.css"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="/user/product details/vendor/perfect-scrollbar/perfect-scrollbar.css"> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/product details/css/util.css">
	<link rel="stylesheet" type="text/css" href="/user/product details/css/main.css">
    
<style>
    .pagination{
        margin-left: 40%;

    }
    .pagination a {
	padding: 10px;
	background-color: #333;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
}
.activePage{
    background-color: #fff;
    color: #333;
}
.pagination a:hover {
	background-color: #666;
}


</style>

<section class="breadcrumb_part">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb_iner">
					<h2>product list</h2>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="bg0 p-t-23 p-b-140 container" >
    <div class="container">
      

        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" onclick="filter('All')">
                    All Products
                </button>
                <% category.forEach(function(i){ %>
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" onclick="filter('<%=i._id%>')">
                    <%=i.category%>
                </button>
                <% }) %>
                
            </div>

             

                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>
        
            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>

                    <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" id="search-product" placeholder="Search">
                </div>	
            </div>

            
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="sort" value="asc" >
                        <label class="form-check-label">
                            Price low-to-high
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="sort" value="desc" >
                        <label class="form-check-label">
                            Price high-to-low
                        </label>
                      </div>
                    
            
        </div>

        
        
    </div>
    
</section>
<section >
    <div class="container">
        <div class="row d-flex  align-items-start" id="allProduct">
        </div>
    </div>
</section>


<div id="pageNumber"  class="pagination">
       
</div> 















<script src="/user/product details/vendor/jquery/jquery-3.2.1.min.js"></script>

<!--===============================================================================================-->
<script src="/user/product details/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<!-- <script src="/user/product details/vendor/bootstrap/js/popper.js"></script> -->
<!-- <script src="/user/product details/vendor/bootstrap/js/bootstrap.min.js"></script> -->
<!--===============================================================================================-->
<!-- <script src="/user/product details/vendor/select2/select2.min.js"></script> -->
<script>
    let query
    let category
    let sort
    let page=1
    
    
    findall();
    async function findall(){
    const url=`/search?q=${query}&category=${category}&sort=${sort}&page=${page}`
    console.log('start')
    document.getElementById('allProduct').innerHTML=""
    document.getElementById('pageNumber').innerHTML=""
    const res= await fetch(url)
    const data=await res.json()
    console.log(data)
    let single
    if(data.products.length==0){
    single=`
    <div class="product">
        <p>no item found</p>
                        <img src="https://ibellstore.com/images/no-item-found-here.png" alt="no order"
                            style="width: 400px; height:300px ;">
                    </div>
    `
    document.getElementById('allProduct').insertAdjacentHTML('beforeend', single);
           console.log('end')
    }
    else{
        data.products.forEach(product => {
    
           let single=`<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="${product.images[0].URL}" alt="IMG-PRODUCT" style="height:200px; object-fit: contain;">

                        <a href="/singleProduct/${product._id} " class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="/singleProduct/${product._id}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                ${product.productName}
                            </a>

                            <span class="stext-105 cl3">
                                RS: ${product.price}
                            </span>
                        </div>
                    </div>
                </div>
            </div>`            
                                                                
        single2=`<div class="col-lg-4 col-sm-6 ">
                                        <div class="single_product_item">
                                            <img src="/images/products/${product.images[0]}" alt="#" class="img-fluid">
                                            <h3> <a href="/singleProduct/${product._id}"> ${product.productName}
                                            </a> </h3>
                                            <p>RS: ${product.price}</p>
                                        </div>
                                    </div>`
    
    
    
                    
    
                        
                    
                  
            
           document.getElementById('allProduct').insertAdjacentHTML('beforeend', single);
           console.log('end')
        });
        console.log(document.getElementById('pageNumber'))
        //document.getElementById('page').insertAdjacentHTML('beforeend','<p>hi</p>')
    }
    if(data.products.length!=0){
    let pages=parseInt(data.totelpage)
     console.log(pages)
     for(let i=1;i<=pages;i++){
        
        let divElement=	document.getElementById('pageNumber')
        let	linkElement = document.createElement("a")
           linkElement.href=`/search?q=${query}&category=${category}&sort=${sort}&page=${i}`
           linkElement.classList="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
           linkElement.addEventListener('click',function(e){
            e.preventDefault();
            page=i
        let urlnew=e.target.href
            changePage(urlnew)
           })
            linkElement.textContent = `${i}`;
            divElement.appendChild(linkElement);
         }
    
    
    }
    }
   
function filter(id){
    category=id
    findall()


}
const radioButtons = document.querySelectorAll('input[type="radio"]');
const searchInput = document.getElementById("search-product");
radioButtons.forEach((radioButton) => {
    let selectedValue=undefined
  radioButton.addEventListener("change",function(){
    let radioButtons = document.getElementsByName("sort");
     for (let i = 0; i < radioButtons.length; i++) {
 
  if (radioButtons[i].checked) {
     // Get the value of the checked radio button
     selectedValue = radioButtons[i].value;
     break; // Exit the loop once the checked radio button is found
   }
 }
 sort=selectedValue
   findall()
     
  });
});

    //change event of search
    searchInput.addEventListener("input", function(){
      query=  searchInput.value||undefined
      findall();
    });


    async function changePage(newurl){
        document.getElementById('allProduct').innerHTML=""
        const res= await fetch(newurl)
    const data=await res.json()
    console.log(data)
    let single
    if(data.products.length==0){
    single=`
    <div class="product">
        <p>no item found</p>
                        <img src="https://ibellstore.com/images/no-item-found-here.png" alt="no order"
                            style="width: 400px; height:300px ;">
                    </div>
    `
    document.getElementById('allprodect').insertAdjacentHTML('beforeend', single);
           console.log('end')
    }
    else{
        data.products.forEach(product => {
           let  single=`<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women mybox">
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="${product.images[0].URL}" alt="IMG-PRODUCT" style="height:200px; object-fit: contain;">

                        <a href="/singleProduct/${product._id} " class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="/singleProduct/${product._id}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                ${product.productName}
                            </a>

                            <span class="stext-105 cl3">
                                RS: ${product.price}
                            </span>
                        </div>

                    </div>
                </div>
            </div>`
            single2=`<div class="col-lg-4 col-sm-6 ">
                                        <div class="single_product_item">
                                            <img src="/images/products/${product.images[0]}" alt="#" class="img-fluid">
                                            <h3> <a href="/singleProduct/${product._id}"> ${product.productName}
                                            </a> </h3>
                                            <p>RS: ${product.price}</p>
                                        </div>
                                    </div>`    
            
           document.getElementById('allProduct').insertAdjacentHTML('beforeend', single);
           console.log('end')
        });
    
    
    }
    }
    </script>
    
    
<!--===============================================================================================-->
<!-- <script src="/user/product details/vendor/daterangepicker/moment.min.js"></script> -->
<!-- <script src="/user/product details/vendor/daterangepicker/daterangepicker.js"></script> -->
<!--===============================================================================================-->
<!-- <script src="/user/product details/vendor/slick/slick.min.js"></script> -->
<!-- <script src="/user/product details/js/slick-custom.js"></script> -->
<!--===============================================================================================-->
<!-- <script src="/user/product details/vendor/parallax100/parallax100.js"></script> -->
<!-- <script>
      $('.parallax100').parallax100();
</script> -->
<!--===============================================================================================-->

<!-- <script src="/user/product details/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script> -->
<!--===============================================================================================-->
<!-- <script src="/user/product details/vendor/isotope/isotope.pkgd.min.js"></script> -->
<!--===============================================================================================-->
<!-- <script src="/user/product details/vendor/sweetalert/sweetalert.min.js"></script> -->
<!--===============================================================================================-->
<!-- <script src="/user/product details/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script> -->
<!--===============================================================================================-->
<script src="/user/product details/js/main.js"></script>



<%-include('../user/layout/user-footer-layout.ejs') %>