<html lang="en">
    <head >
        <title style="color: brown">LOGIN</title>
        <meta name="author" content="Zaur">
        <meta descryption content="Presentation of website">
        <meta name="keywords" content="technology, cyber security, software">
        <meta http-equiv="refresh" content="100">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/user/signinstyle/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
		<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
		 <!--favicon-->
		 <link rel="icon" href="https://api.hatchwise.com/api/public/storage/assets/contests/entries/L975725-20170505133348.jpg" type="image/x-icon">
    </head>
    <body>
		<div class="container forms" id="container">
				
			
			
			
			<div class="form sign-in">
				<form method="post" action="/isEmail" id="isEmail">
					
					
					 
				<div class="button-input-group">
					<div class="group input-group">
                        <label>Enter your registerd email:</label>
						<input type="email" placeholder="Email" required name="email">
					</div>
					
					<div class="group button-group" style="margin-top: 5vh;">
						<button type="submit" class="signup-btn">
							<span>Submit</span>
						</button>
					</div>
				</div>
				</form>
			</div>
			
			</div>
		<script>
		let emailForm=document.getElementById('isEmail')
		emailForm.addEventListener('submit',async function(e){
			e.preventDefault()
			let form=new FormData(emailForm)
			let email=form.get('email')
			console.log(email)
			const res=await fetch(`/isEmail?email=${email}`,{method:'POST'})
			let data=await res.json()
			console.log(data)
			if(data.isEmail){
				let user=data.user
				window.location.href=`/otpPasswordChange?email=${email}`
			}
		// 	document.getElementById('emailerr').innerHTML=''
		// 	document.getElementById('phoneerr').innerHTML=''
		// 	document.getElementById('confPassword').innerHTML=''
		// 	document.getElementById('emailbox').style.borderColor='lightgreen';
		// 	document.getElementById('phonebox').style.borderColor='lightgreen';
		// 	document.getElementById('password').style.borderColor='lightgreen';
		// 	let formdata=new FormData(sighnUpForm);
		//    let username=formdata.get('username')
		//    let password=formdata.get('password')
		//   let confPassword=formdata.get('confPassword')
		//   let email=formdata.get('email')
		//   let phone=formdata.get('phone')
		//   let res=await fetch(`/signUp?username=${username}&password=${password}&confPassword=${confPassword}&email=${email}&phone=${phone}`,{method:'POST'})
		//   let data=await res.json()
		//   console.log(data)
		//   if(data.userCreated){
		// 	window.location.href='/otp'
		//   }
		//   if(data.errors?.email){
        //    console.log('email allredy exist')
		//    document.getElementById('emailbox').style.borderColor='red';
		//    document.getElementById('emailerr').innerHTML='email allredy exist'
		//   }
		//   if(data.errors?.phone){
        //    console.log('phone number allredy exist')
		//    document.getElementById('phonebox').style.borderColor='red';
		//    document.getElementById('phoneerr').innerHTML='phone number allredy exist'
		//   }
		//   if(data.errors?.confPassword){
		//    document.getElementById('password').style.borderColor='red';
		//    document.getElementById('confPassword').innerHTML='passwords are not equal'
		//   }
		})
		</script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="./javascripts/user/signinjs/sample.js"></script>
    </body>
</html>