<!-- subscribe part end -->

<!--::footer_part start::-->

<!-- <footer class="footer_part" style="min-height: 70vh;"> -->
    <section class="subscribe_part section_padding">
        <footer class="footer_part" style="min-height: 70vh;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe_part_content">
                        <h2>Smart Shop</h2>
                        <!-- <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources credibly innovate granular internal .</p> -->
                        <p> Copyright © 2023 Smart Shop.</p>
                    </div>
                </div>
            </div>
        </div>
        </footer>
    </section>
<!-- </footer> -->






<!-- jquery plugins here-->
<script src="/user/js/jquery-1.12.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/user/imageZoom/js/zoomsl.js"></script>

<!-- popper js -->
<!-- <script src="/user/js/popper.min.js"></script> -->
<!-- bootstrap js -->
<script src="/user/js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="/user/js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<!-- <script src="/user/js/swiper.min.js"></script> -->
<!-- swiper js -->
<!-- <script src="/user/js/mixitup.min.js"></script> -->
<!-- particles js -->
<!-- <script src="/user/js/owl.carousel.min.js"></script> -->
<!-- <script src="/user/js/jquery.nice-select.min.js"></script> -->
<!-- slick js -->
<!-- <script src="/user/js/slick.min.js"></script> -->
<!-- <script src="/user/js/jquery.counterup.min.js"></script> -->
<!-- <script src="/user/js/waypoints.min.js"></script> -->

<!-- <script src="/user/js/contact.js"></script> -->
<!-- <script src="/user/js/jquery.ajaxchimp.min.js"></script> -->
<!-- <script src="/user/js/jquery.form.js"></script> -->
<!-- <script src="/user/js/jquery.validate.min.js"></script> -->
<!-- <script src="/user/js/mail-script.js"></script> -->
<!-- custom js -->
<script src="/user/js/custom.js"></script>
</body>

</html>
<!-- <footer >
    <div class>
        <div class>
            <div class>
                <h3 >Smart shop.</h3>
                <p>Exotic and Imported prodects Around India . Trusted By Millions. </p>
            </div>
            

            
             </div>

        <div class>
            <div class>
                <p>
                    <small class>&copy; 2023 Smart shop. All Rights Reserved.</small> 
                
                </p>
                <p>
                    <ul class>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </p>
            </div>
        </div>

    </div>
</footer>
</div>

<div class>
    <a href="#" class ><i class></i></a>
</div>

</body>
</html>
 -->
